<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/logo_eldorado2.png" alt="" height="30" />
        </a>
        <span style="margin-top: 30px"
          >Sistema de controle de dispositivos de informática</span
        >
      </div>
    </nav>
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home"
              >Home</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/category">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/devices">Devices</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-10">
        <div class="card" style="width: 100%">
          <div class="card-header bg-info">
            <h5 class="card-title">Add Device</h5>
            <button class="btn btn-success btn-sm float-end" routerLink="/devices">Voltar</button>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Descrição</label>
              <input type="text" class="form-control" [(ngModel)]="deviceName" name="deviceName">
              <label for="exampleFormControlInput1" class="form-label">Cor</label>
              <input type="text" class="form-control" [(ngModel)]="deviceCor" name="deviceCor">
              <label for="exampleFormControlInput1" class="form-label">Partnumber</label>
              <input type="text" class="form-control" [(ngModel)]="devicePartnumber" name="devicePartnumber">
              <label for="exampleFormControlInput1" class="form-label">Categoria</label>
              <input type="text" class="form-control" [(ngModel)]="deviceCategoria" name="deviceCategoria">
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-success btn-sm" (click)="onCreateDevice()">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  